body{
    width: 100%;
    height: 100%;
}

#mainImg{
    width: 25rem;
}

#resultSection, #searchAgainSection, #errorSection{
    display: none;
}

form{
    width: 25rem;
}

#arrow{
    width: 10rem;
}

#inputHeroId{
    background-color: rgb(253, 253, 234);
    border: 1px solid rgb(196, 196, 196);
}

#searchAgainButton{
    width: 18rem;
}

.card ul li{
    font-size: 0.9rem;
}


#chartContainer{    
    min-height: 550px;
    max-width: 37rem;
}

.canvasjs-chart-canvas{
    width: 100%;
    padding: 1rem;
}