#mainImg{
    width: 25rem;
}

#resultSection, #searchAgainSection, #errorSection{
    display: none;
}

form{
    width: 25rem;
}

#arrow{
    width: 10rem;
}

#inputHeroId{
    background-color: rgb(253, 253, 234);
    border: 1px solid rgb(196, 196, 196);
}

#searchAgainButton{
    width: 18rem;
}

.card ul li{
    font-size: 0.9rem;
}


.canvasjs-chart-canvas{
    width: 100%;
    
}